/*
  Icon Font: goodjob
*/

@font-face {
  font-family: "goodjob";
  src: url("./goodjob_c15109be8cb036798dda8da9f9dec5b4.eot");
  src: url("./goodjob_c15109be8cb036798dda8da9f9dec5b4.eot?#iefix") format("embedded-opentype"),
       url("./goodjob_c15109be8cb036798dda8da9f9dec5b4.woff") format("woff"),
       url("./goodjob_c15109be8cb036798dda8da9f9dec5b4.ttf") format("truetype"),
       url("./goodjob_c15109be8cb036798dda8da9f9dec5b4.svg#goodjob") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "goodjob";
    src: url("./goodjob_c15109be8cb036798dda8da9f9dec5b4.svg#goodjob") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-briefcase:before,
.icon-chart1:before,
.icon-chart2:before,
.icon-compass:before,
.icon-gears:before,
.icon-graph:before,
.icon-lightbulb:before,
.icon-people:before,
.icon-plant:before,
.icon-puzzle:before {
  display: inline-block;
  font-family: "goodjob";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-briefcase:before { content: "\f100"; }
.icon-chart1:before { content: "\f108"; }
.icon-chart2:before { content: "\f109"; }
.icon-compass:before { content: "\f101"; }
.icon-gears:before { content: "\f102"; }
.icon-graph:before { content: "\f103"; }
.icon-lightbulb:before { content: "\f104"; }
.icon-people:before { content: "\f105"; }
.icon-plant:before { content: "\f106"; }
.icon-puzzle:before { content: "\f107"; }
